<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!--
	Copyright 2012 Simañuk Héctor Damián.
	
	Esta base esta tomada de varios script para hacer slides a partir
	de un lenguaje de marcas como ser markdown. 
	
	Es parte del software texslide: www.xxxiii
	
	Todos los scripts usados estan licenciados bajo GPL V2 o superior.
	
	Puede ser usado y redistribuido siempre y cuando se mantenga esta
	cabezera y no se use con fines de lucro.
	
	basado en:
		http://meyerweb.com/eric/tools/css/reset/ 
		
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <title>HTML5 Presentation</title>
    <link id="prettify-link" href="src/prettify/prettify.css" rel="stylesheet" disabled />
    <link href="css/moon.css" class="theme" rel="stylesheet" />
    <link href="css/sand.css" class="theme" rel="stylesheet" />
    <link href="css/texslide.css" class="theme" rel="stylesheet" />
    <link href="css/sea_wave.css" class="theme" rel="stylesheet" />
    <link href="css/default.css" class="theme" rel="stylesheet" media="screen"  />
    <link href="css/common.css" rel="stylesheet" media="screen" />
</head>	
	
<body>
<!--
<nav id="helpers">
  <button title="Previous slide" id="nav-prev" class="nav-prev">⇽</button> 
  <button title="Jump to a random slide" id="slide-no">5</button> 
  <button title="Next slide" id="nav-next" class="nav-next">⇾</button>
  <menu>
	<button type="checkbox" data-command="toc" title="Table of Contents" class="toc">TOC</button>
	<button type="checkbox" data-command="notes" title="View Slide Notes">✏</button>
	<button type="checkbox" data-command="source" title="View slide source">↻</button>
	<button type="checkbox" data-command="help" title="View Help">?</button>
  </menu>
</nav>
-->
<div class="presentation">
	<div id="presentation-counter">Loading...</div>
		<div class="slides" >
		{% for slide in slides %}
			<div class="slide" id="slide{{ slide.footer.page }}">
				{% if slide.header.title %}
					<header>
						{{ slide.header.title }}
						{{ slide.header.subti }}
						
					</header>
					
					<div class=pagina>{{ slide.footer.page }}/{{ pages }}</div>
					<div class=foot>{{ title }}</div>
					
				{% endif %}
				{% if slide.section %}
					<section>
					{{ slide.section }}
					
					{% if slide.footer.footnote %}
					<div class=footnote>
						<ol>
					{% for foo in slide.footer.footnote %}
						<li>{{ foo }}</li>
					{% endfor %}
					
						</ol>
					</div>
					{% endif %}
					</section>
				{% endif %}
				<aside class="note">
					<section>
						{{ slide.footer.footnote }}
					</section>
				</aside> 
			</div>
		{% endfor %}

    
       </div> <!-- slides -->
      <div id="speaker-note" class="invisible" style="display: none;">
		  <img id="left-init-key" src="yea.png" title="HTML5 title" alt="HTML5">
      </div> <!-- speaker note -->
      <aside id="help" class="sidebar invisible" style="display: hidden;">
        <table>
          <caption>Help</caption>
          <tbody>
            <tr>
              <th>Move Around</th>
              <td>&larr;&nbsp;&rarr;</td>
            </tr>
            <tr>
              <th>Source File</th>
              <td>s</td>
            </tr>
            <tr>
              <th>Change Theme</th>
              <td>t</td>
            </tr>
            <tr>
              <th>Syntax Highlight</th>
              <td>h</td>
            </tr>
            <tr>
              <th>Speaker Notes</th>
              <td>n</td>
            </tr>
            <tr>
              <th>Toggle 3D</th>
              <td>3</td>
            </tr>
            <tr>
              <th>Help</th>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </aside>
    </div> <!-- presentation -->

<script src="js/utils_mod.js"></script>
  </body>
</html>
